body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('background.png') no-repeat center center/cover;
}
.content {
    text-align: center;
}
.scaled-img {
    max-width: 500px;
    height: auto;
}
button {
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #8DDDE2;
    color: black;
    transition-duration: 0.4s;
    border: 2px solid #22787D;
}
button:hover {
    background-color: #3CB5BE;
}
button:disabled {
    background-color: #22787D;
    cursor: not-allowed;
}
